<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mon_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,32}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{24,32}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,2},{24,30}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{24,30}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{26,32}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{26,32}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{26,32}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{26,32}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{24,32}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{24,32}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{24,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{24,30}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{26,26}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{26,26}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{26,26}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{26,26}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{24,26}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{24,26}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{24,26}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{24,26}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,36},{24,26}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{24,26}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,36},{26,24}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{26,24}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,36},{16,28}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{16,28}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,36},{16,28}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{16,28}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,36},{16,26}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{16,26}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,36},{14,26}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{14,26}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,36},{16,28}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{16,28}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,36},{16,28}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{16,28}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,36},{20,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{20,22}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,36},{20,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{20,22}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{26,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{26,24}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,66},{28,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{28,26}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,66},{18,24}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{18,24}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,66},{16,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{16,26}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,66},{28,30}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{28,30}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,66},{28,30}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{28,30}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,66},{28,30}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{28,30}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,66},{28,30}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{28,30}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,66},{28,30}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{28,30}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{28,30}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{28,30}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,98},{22,24}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{22,24}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,98},{22,24}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{22,24}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,98},{22,24}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{22,24}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,98},{22,24}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{22,24}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,98},{22,24}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{22,24}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,98},{22,24}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{22,24}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,98},{22,30}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{22,30}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,98},{22,26}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{22,26}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,98},{24,30}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{24,30}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{22,24}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{22,24}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,130},{22,26}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{22,26}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,130},{22,24}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{22,24}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,130},{16,34}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{16,34}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,130},{16,34}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{16,34}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,130},{30,26}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{30,26}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,130},{28,26}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{28,26}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,130},{16,30}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{16,30}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,130},{16,30}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{16,30}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,130},{26,32}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{26,32}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{24,34}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{24,34}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,166},{18,32}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{18,32}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,166},{18,34}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{18,34}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,166},{26,32}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{26,32}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>Mon_01_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,166},{24,34}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{24,34}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monsters.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2e22a8aaf3637abc04629f0b7f4daf5$</string>
            <key>textureFileName</key>
            <string>monsters.png</string>
        </dict>
    </dict>
</plist>
